**/.DS_Store
/.dart_tool
/build
/build
/build
*.pcm
build/b00acc43a05a32d6354d162ae75e9ea7/_composite.stamp
build/b00acc43a05a32d6354d162ae75e9ea7/gen_dart_plugin_registrant.stamp
build/b00acc43a05a32d6354d162ae75e9ea7/gen_localizations.stamp
build/cache.dill.track.dill
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Flutter Assemble.build/InputFileList-33CC111E2044C6BF0003C045-FlutterInputs-0a0d65d7181b20f46b92015826650d97-resolved.xcfilelist
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Flutter Assemble.build/OutputFileList-33CC111E2044C6BF0003C045-FlutterOutputs-e0fd9b73089fc11b77d35e727f459d17-resolved.xcfilelist
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/assetcatalog_dependencies
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/AppDelegate.d
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/AppDelegate.o
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/AppDelegate.swiftdeps
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/GeneratedAssetSymbols.d
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/GeneratedAssetSymbols.o
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/GeneratedAssetSymbols.swiftdeps
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/GeneratedPluginRegistrant.d
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/GeneratedPluginRegistrant.o
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/GeneratedPluginRegistrant.swiftdeps
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/MainFlutterWindow.d
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/MainFlutterWindow.o
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/MainFlutterWindow.swiftdeps
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/potsniffle.LinkFileList
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/potsniffle.SwiftConstValuesFileList
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/potsniffle.SwiftFileList
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/potsniffle.swiftmodule
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/potsniffle.swiftsourceinfo
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/potsniffle_dependency_info.dat
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/Runner-master-emit-module.d
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/Runner-master.priors
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/Objects-normal/arm64/Runner-OutputFileMap.json
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/potsniffle-generated-files.hmap
build/macos/Build/Intermediates.noindex/Runner.build/Debug/Runner.build/SwiftStdLibToolInputDependencies.dep
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/0b9c3c01bd063d3007d085025396a9d6
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/1b7b481a7be7c82f3efcc54129782600
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/240dac2a052f7e754187807d2a69ee41
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/3d510756d760550f723f7366320b6f02
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/4a4d8b323fb25206fc5fb1b1de712166
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/4e2407865ff130d5f8f2f1746741a36d
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/67e76468a8cd78f03ef5535f8fd0ab00
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/7f1999dc0202123e52abd4aeb81767a0
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/87f754fba365e933396309004b283a06
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/dd1658b7275676660fb466feae65cfe1
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/e0b92c6babcefc2f6fa365658f0a0b2c
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/f656c3138857d332bab8ff23d6695f21
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/build-request.json
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/description.msgpack
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/manifest.json
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/target-graph.txt
build/macos/Build/Intermediates.noindex/XCBuildData/843c5ac58067d7680afe3033456ece65.xcbuilddata/task-store.msgpack
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/0b9c3c01bd063d3007d085025396a9d6
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/3c1e9b86d199c5e6a291a7df27396531
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/4a4d8b323fb25206fc5fb1b1de712166
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/61f155e92f24f161db0f921d86695ee9
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/67e76468a8cd78f03ef5535f8fd0ab00
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/9e6e09a4078ba7b7a1f86887592bea56
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/aae37d8b37991ba52a194aaddf7880ef
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/b674f17d7867b45c3f1ce49d38b21f13
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/b861d09890bc9df6841697beff4855f6
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/d2691f295eb0b8c85ec023e9b5902091
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/f86cbb10517a3bd51f252887359b04af
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/attachments/ffab6cdef34c68e573676978242fd842
build/macos/Build/Intermediates.noindex/XCBuildData/a836d3e0b02ae7e5d0126acb17ef91f7.xcbuilddata/manifest.json
build/macos/Build/Intermediates.noindex/XCBuildData/build.db
build/macos/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=1729675642.4042184_hash=18c1723432283e0cc55f10a6dcfd9e02plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
build/macos/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=5b236b19eebfa3101366cc810e984d1f-json
build/macos/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=2ae228fd2f324dd7e8939992678bae63_subobjects=eadd5b2857dcaa8e4028257436327798-json
build/macos/Build/Products/Debug/.last_build_id
build/macos/Build/Products/Debug/App.framework/Versions/A/Resources/flutter_assets/kernel_blob.bin
build/macos/Build/Products/Debug/App.framework/Versions/A/Resources/flutter_assets/NOTICES.Z
build/macos/Build/Products/Debug/potsniffle.app/Contents/_CodeSignature/CodeResources
build/macos/Build/Products/Debug/potsniffle.app/Contents/Frameworks/App.framework/Versions/A/_CodeSignature/CodeResources
build/macos/Build/Products/Debug/potsniffle.app/Contents/Frameworks/App.framework/Versions/A/App
build/macos/Build/Products/Debug/potsniffle.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/kernel_blob.bin
build/macos/Build/Products/Debug/potsniffle.app/Contents/Frameworks/App.framework/Versions/A/Resources/flutter_assets/NOTICES.Z
build/macos/Build/Products/Debug/potsniffle.app/Contents/MacOS/potsniffle
build/macos/Build/Products/Debug/potsniffle.app/Contents/MacOS/potsniffle.debug.dylib
build/macos/Build/Products/Debug/potsniffle.swiftmodule/arm64-apple-macos.swiftmodule
build/macos/Build/Products/Debug/potsniffle.swiftmodule/Project/arm64-apple-macos.swiftsourceinfo
build/macos/info.plist
build/macos/Logs/Build/24F2F555-D5E3-49B2-B4A9-73821B0C7124.xcactivitylog
build/macos/Logs/Build/B3C7EEF8-6D96-4FBF-9241-DF292DD72E2D.xcactivitylog
build/macos/Logs/Build/DE8381D3-5408-4CE8-A6B4-6CD9329F7D36.xcactivitylog
build/macos/Logs/Build/LogStoreManifest.plist
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/__wctype-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_assert-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_float-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_intrinsics-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_inttypes-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_iso646-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_limits-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_stdarg-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_stdatomic-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_stdbool-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_stddef-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_stdint-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_Builtin_tgmath-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_complex-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_ctype-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_errno-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_fenv-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_float-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_inttypes-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_limits-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_locale-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_mach_port_t-134SGFEPXAZL0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_math-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_setjmp-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_signal-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_stdint-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_stdio-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_stdlib-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_string-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_strings-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_SwiftConcurrencyShims-39ZO3A1THQ3HL.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_sys_select-134SGFEPXAZL0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_tgmath-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_time-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_useconds_t-134SGFEPXAZL0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_wchar-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/_wctype-104I7O8W7MEVW.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Accessibility-1C39AWPZ3ZCHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/alloca-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/AppKit-2E52K8BLPXB98.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/ApplicationServices-318ED6HVOOOWK.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/AvailabilityMacros-3UMTTYWUZY1PD.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CFNetwork-2QM24TU1OUNU.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Cocoa-G0K7USNOMP8I.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/ColorSync-FUKP4SF5WDN.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreAudio-1AA2PF9D9ZR1E.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreAudioTypes-FBCZNCTK6GB0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreData-3DC7JJOJKG7MT.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreFoundation-XRVNUAOWDGXL.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreGraphics-3T9VBW5GP5OQV.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreImage-2CUH609RP6X7P.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreMedia-37PVQTJTN9KQQ.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreServices-3FK4JMT7K1IRE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreText-2K5RVIO1QZLNS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreTransferable-KM8905ZS9D06.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CoreVideo-1EDP4WMD3WVWL.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/CUPS-JHNNNXXF1OP5.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Darwin-2MKSMTP29KE2D.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/DarwinFoundation-134SGFEPXAZL0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/DeveloperToolsSupport-3H6S1A3Z3FZ2K.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/DiskArbitration-QK5Z60WO3GCK.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Dispatch-Y4ZZ1HR72FEI.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/FlutterMacOS-34ENKV8RGW2PL.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/FlutterMacOS-34ENKV8RGW2PL.pcm.timestamp
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Foundation-2M8Y3D1H909LB.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/gethostuuid-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/ImageIO-27XM1J7FM4Q7H.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/IOKit-1YJU4L4Q03Y5.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/IOSurface-235Q4H9R8GAYU.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/launch-ZN5YPD9YCD97.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/libDER-2YDAHEQ2C7FF0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/libkern-38928ZOFXROC2.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/MachO-YWFNV22Z5VUT.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Metal-1B038G1N9AC0V.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/netinet_in-134SGFEPXAZL0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/nl_types-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/ObjectiveC-1S4XUWQXUMNGK.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/OpenGL-2YY2N6L4YVU9Y.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/os-809BAD8PJTA3.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/os_availability-3UMTTYWUZY1PD.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/os_availability_internal-3UMTTYWUZY1PD.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/os_object-809BAD8PJTA3.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/os_workgroup-809BAD8PJTA3.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/OSLog-3M0JBPYXURWPD.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/pthread-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/ptrauth-9VMJEIX0S9SE.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/QuartzCore-KO6TAZ9XHBR8.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/runetype-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Security-3MRSRYU7H638B.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/simd-SNFDI5CW0EBB.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Spatial-22B5FZ3PW3Y9S.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/SwiftShims-39ZO3A1THQ3HL.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/SwiftUI-2S15EMMJUOLMK.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/SwiftUICore-S3PIULIV0CA9.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/Symbols-1QNIPN3XYP8LO.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/sys_resource-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/sys_select-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/sys_time-134SGFEPXAZL0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/sys_types-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/sys_wait-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/TargetConditionals-1U3D0O3P47X6G.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/UniformTypeIdentifiers-2TQCH09YI5T7Y.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/unistd-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/uuid-134SGFEPXAZL0.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/xlocale-3U812Q2WJSMHS.pcm
build/macos/ModuleCache.noindex/1MNS6JQS8UN9U/XPC-1O6EQOTZ7QBYA.pcm
build/macos/ModuleCache.noindex/Session.modulevalidation
build/macos/SDKStatCaches.noindex/macosx15.0-24A336-b74dfec4bc4e9d23bc944d435a01a688.sdkstatcache
.dart_tool/package_config.json
